body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-stack);
}

@media (min-width: 1918px) {
  html {
    font-size: 20px !important;
  }
}
